@font-face {
    font-family: "Outfit";
    src: url('./Outfit/static/Outfit-Regular.ttf') format('truetype');
}

h1{
  font-family: "Outfit";
  font-weight: 700;
  font-size: 25px;
  margin: 20px auto;
  text-align: center;
  width: 300px;
  color: hsl(218, 44%, 22%);
}


h2{
  font-family: "Outfit";
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin: 30px auto;
  width: 250px;
  color: hsl(216, 15%, 48%)
}

body{
    background-color: hsl(212, 45%, 89%);
}

.card{
    width: 350px;
    height: 550px;
    background-color: white;
    border-radius: 20px;
    margin: 50px auto;
    justify-items: center;
    padding: 25px;
    box-sizing: border-box;
}

.qr-code{
    width: 30g0px;
    height: 300px;
    border-radius: 20px;
}